<!DOCTYPE html>
{% extends "pagebase.html" %}

{% block title %}查询历史{% endblock %}

{% block navbar_content %}
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><a href="/">主页</a>
            <span class="sr-only"></span></li>
    </ul>
    <ul class="nav navbar-nav">
        <li class="active"><a href="#">历史</a>
            <span class="sr-only">(current)</span></li>
    </ul>
    <ul class="nav navbar-nav">
        <li><a href="/help" target="_blank">帮助</a>
            <span class="sr-only"></span></li>
    </ul>
</div>
{% endblock %}

{% block page_content %}
    {% if query_log %}
    <p>
        {% for i in range(0, query_log|length, 3) %}
            {{query_log[i]}}&nbsp;&nbsp;{{query_log[i+1]}}&nbsp;&nbsp;
            {{query_log[i+2]}}°C <br>
        {% endfor %}
    </p>
    {% else %}
        <p> 未查询 无记录 </p>
    {% endif %}
{% endblock %}
